/* @import url('https://use.typekit.net/akk6apd.css'); */
/* @font-face {
  font-family: 'PoppinsRegular';
  src: url('/fonts/SwitzerRegularNo5.eot');
  src:
    url('/fonts/SwitzerRegularNo5.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SwitzerRegularNo5.otf') format('otf'),
    url('/fonts/SwitzerRegularNo5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'PoppinsRegular';
  src:
    url('/fonts/PoppinsRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PoppinsRegular.otf') format('otf'),
    url('/fonts/PoppinsRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsBold';
  src:
    url('/fonts/PoppinsBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PoppinsBold.otf') format('otf'),
    url('/fonts/PoppinsBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsMedium';
  src:
    url('/fonts/PoppinsMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PoppinsMedium.otf') format('otf'),
    url('/fonts/PoppinsMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}